<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> View Student Details</h3>
<div>
    <div>
        <label> <b> Student Name : </b></label> {{student.studentName}}
    </div>
    <div>
        <label> <b> Email Id : </b></label> {{student.emailId}}
    </div>
    <div>
        <label> <b>Course : </b></label> {{student.course}}
    </div>

    <div>
        <label> <b>Enrollment Status : </b></label> {{student.addmission_status}}
    </div>

    <div>
        <label> <b>Address : </b></label> {{student.address}}
    </div>

    <div>
        <label> <b>mobile Number : </b></label> {{student.mobileNo}}
    </div>
</div>
</body>
</html>